
<title>Practice</title>





<script type="text/javascript">


jQuery(function($){ 		//id가 foo-table 이라는 table에 적용
	$("#test-table").DataTable({
		//dataTables 기능들 사용유무 결정
		info: false,
		lengthMenu: [10, 20, 30, 40, 50, 60],
		searching: false,
		dom : 'Bfltip',
		buttons: [ {
			  extend:    'copy',
			  text:      '<i class="fa fa-files-o"></i> Copy',
			  titleAttr: 'Copy'
		  },
		  {
			  extend:    'print',
			  text:      '<i class="fa fa-print" aria-hidden="true"></i> Print',
			  titleAttr: 'Print'
		  },
		  {
			  extend:    'excel',
			  text:      '<i class="fa fa-file-text-o"></i> Excel',
			  titleAttr: 'Excel'
		  }]
	})
	}); 

	</script>

<div style="width: 100%;">
<table id="test-table"  class="display" style=" width: 100%;">
<thead>
            <tr>
            	<a id="recA"><th style="padding: 0;">REC <input id="allchk" type="checkbox" /></th></a>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
                <th>File Name</th>
            </tr>
        </thead>
        <tbody>	<!-- thymeleaf사용하기 때문에 th 속성 사용 -->
            <tr th:each="tableLst : ${searchDataTablesList}">
            	<td style="width: 10px; padding-left: 18px; padding-right: 18px;"><input name="chkBox"  th:id="${tableLst.name}" type="checkbox"/></td>
                <td th:text="${tableLst.name}"></td>
                <td th:text="${tableLst.position}"></td>
                <td th:text="${tableLst.office}"></td>
                <td th:text="${tableLst.age}"></td>
                <td th:text="${tableLst.startdate}"></td>
                <td th:text="'$'+${tableLst.salary}"></td>
                <td th:text="${tableLst.fileName}"></td>
            </tr>
        </tbody>
       
</table>
</div>
<br/><br/>
<div id="recFrame" th:include="/player"></div>
