<!DOCTYPE html>
<html>
<meta charset="utf-8">

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<div style="width: 500px; position: absolute; left: 50%; top: 50%; margin-left: -250px;">
<input type="text" id="y" placeholder="년도" />년
<input type="text" id="mon" placeholder="월" />월
<input type="text" id="d" placeholder="일" />일
<input type="text" id="h" placeholder="시" />시
<input type="text" id="m" placeholder="분" />분
<input type="date" id="datee"/>
<input type="time" id="t" />
<button onclick="myFunction()">Try it</button>
</div>

<p id="demo"></p>
<p id="demo2"></p>
<p id="demo3"></p>
<script th:inline="javascript" type="text/javascript">
var testInline = /*[[${testInline}]]*/"";
	function myFunction() {

			alert(testInline)	
		
	   
	}
</script>

</body>
</html>