<div id="taable-search">
	<div class="input-group mb-3 mt-4">
		<span class="input-group-text" >Name</span>
		<input type="text" class="form-control" id="name"  >
	</div>
	<div class="input-group mb-3 mt-4">
		<span class="input-group-text" >Position</span>
		<input type="text" class="form-control" id="position"  >
	</div>
</div>
<div id="taable-search2">
	<div class="input-group mb-3 mt-4">
		<span class="input-group-text">Office</span>
		<input type="text" class="form-control"  id="office"  >
	</div>
	<div class="input-group mb-3 mt-4">
		<span class="input-group-text" >Age</span>
		<input type="text" class="form-control" id="age"  >
	</div>
</div>
<div id="taable-search3">
	<div class="input-group mb-3 mt-4">
		<span class="input-group-text" >Start date</span>
		<input type="text" class="form-control" id="date"   >
	</div>
	<div class="input-group mb-3 mt-4">
		<span class="input-group-text">Salary</span>
		<input type="text" class="form-control"  id="salary"  >
	</div>
</div>

<div class="btn-group-vertical" style="margin-top: -40px; margin-right: 5px;">
	<a href="/searchTable"><button type="button" id="searchBtn" class="btn btn-primary">Search</button></a>
	<button type="button" id="beforeBtn" class="btn btn-primary">Before Search</button>
	<button type="button" id="resetBtn" class="btn btn-primary">Reset</button>
</div>
