
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
	<a class="navbar-brand" href="/viewTable" th:text="${loginId}">Navbar w/
		text</a>
	<div class="container-fluid">

		<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
			<ul class="navbar-nav">

			</ul>
		</div>
	</div>
	<button type="button" class="btn btn-outline-info mb-0" id="logoutBtn"
		th:text="LOGOUT">LOGOUT</button>
</nav>
 <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var uml = /*[[${uml}]]*/;
        /*]]>*/
</script>
