<div class="input-group mb-3">
  <input id="writeTxt" type="text" class="form-control" placeholder="xss-test" aria-label="Recipient's username" aria-describedby="basic-addon2" style="height: 39px;">
  <div class="input-group-append">
    <button id="sendBtn" class="btn btn-outline-secondary" type="button">Send</button>
  </div>

<i class="fas fa-arrow-down" style="margin: 0 48% 0 48%;" ></i>
<button style="margin: auto;" id="showBtn" type="button" class="btn btn-info" disabled>ShowText</button>
</div>
