@charset "utf-8";

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

#bottomdiv {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

#topdiv {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
}

h4 {
	text-align: center;
}

hr {
	background: white;
}

audio {
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
}

body {
	background: rgb(221, 221, 221);
}

#sideMenu {
	margin: auto;
}

#taable-search {
	width: 32%;
	float: left;
	margin: 5px;
}

#taable-search2 {
	width: 32%;
	display: inline-block;
	margin: 5px;
}

#taable-search3 {
	width: 32%;
	display: inline-block;
	margin: 5px;
}

#search {
	margin: 0 30px 20px 30px;
	width: 100%;
	background: #F2F2F2;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px #999;
	height: auto;
	width: 100%;
}

#mainMenu {
	height: auto;
	margin: auto;
	width: 95%;
	background: #F2F2F2;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px #999;
}

#toggle {
	position: absolute;
	left: 8.5%;
	margin-top: -30px;
}

#recFrame {
	width: 100%;
	background: #F2F2F2;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px #999;
}

#levelMenu {
	width: 300px;
	height: auto;
	background: #F2F2F2;
	border-radius: 5px;
	border: 1px solid gray;
	box-shadow: 3px 3px 3px 3px #999;
}

#sidetree {
	width: 300px;
	height: auto;
	background: #F2F2F2;
	border-radius: 5px;
	border: 1px solid gray;
	box-shadow: 3px 3px 3px 3px #999;
	padding: 10px;
	margin-top: 30px;
}

#side-toggle-menu {
	float: left;
	width: 300px;
	height: auto;
	border-radius: 5px;

	margin-left: 20px;
}

#xssTest {
	width: 400px;
	margin: 0 30px 20px 30px;
	background: #F2F2F2;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px #999;
	padding: 16px 16px 0 16px;
}