@charset "utf-8";
.parent {
	background: white;
	border: 1px solid black;	
}
#parent1{
	width: 100%;
	height: 100%;
	padding: 100px;
}
#parent2{
	width: 100%;
	height: 100%;
	padding: 100px;	
}
#parent3{
	width: 100%;
	height: 100%;
	padding: 100px 50px 100px 50px;
}
#testDiv {
	position: absolute;
	width: 800px;
	margin-left: -400px;
	left: 50%;
	height: 800px;
	}
.bsBtn{
	width: 120px;;
	margin: 10px;
}