@charset "EUC-KR";

#edit_tree_frame {
	margin: auto;
	width: 70%;
	height: auto;
	padding: 10px;
	background: #F2F2F2;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px #999;

}
#condition_tree_frame{
	display: flex;
}
#modify_tree_frame{
	display: flex;
	justify-content: flex-end;
	margin: auto;
	width: 70%;
	margin-top: 20px;
}
.view-tree-info{
	margin: 0 5px 0 5px;
}
.btn {
	height: 40px;
	margin: 2px;
	margin-top: -3px;
}
#show_tree_frame{
	margin: auto;
	width: 70%;
	height: 500px;
	overflow:scroll;
	background: #F2F2F2;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 3px 3px 3px 3px #999;
	margin-top: 20px;
	padding: 50px 100px 50px 100px;
}