@charset "utf-8";
body{
	background: rgb(221, 221, 221);
}
#LoginFrame{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top:  -100px;
	margin-bottom: 100px;
}
input[type="text"], input[type="password"]  {
	width: 100%; /* 원하는 너비 설정 */
	height: auto; /* 높이값 초기화 */
	line-height: normal; /* line-height 초기화 */
	padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
	font-family: inherit; /* 폰트 상속 */
	border: 1px solid #999;
	border-radius: 0; /* iSO 둥근모서리 제거 */
	outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
	-moz-appearance: none;
	appearance: none;

}
button {
	width: 215px;
	height: 50px;
	background: white;
	font-size: 15px;
}
button:hover {
	background: #bcbcbc;	
}
#logoutBtn{
	margin-top: 25px;
	margin-left: 60%;
}
