<div th:fragment="mainFrame">
<div id="testDiv" class="parent">parent1
<div id="parent1" class="parent">parent2
<div id="parent2" class="parent">parent3
<div id="parent3" class="parent">
<button type="button" class="btn btn-primary bsBtn parent-btn">parent</button>
<button type="button" class="btn btn-primary bsBtn parents-btn">parents</button>
<button type="button" class="btn btn-primary bsBtn parentsUntil-btn">parentsUntil</button>
<button type="button" class="btn btn-primary bsBtn init-btn">init</button>
<button type="button" class="btn btn-primary bsBtn error-btn">Error-Test</button>
<button type="button" class="btn btn-primary bsBtn test-btn">Test</button>
</div>
</div>
</div>
</div>
</div>